<h1>Editing Contract Event Alert</h1>

<%= render 'form', contract_event_alert: @contract_event_alert %>

<%= link_to 'Show', @contract_event_alert %> |
<%= link_to 'Back', contract_event_alerts_path %>
