<div class="page-header">
  <%= link_to contract_item_groups_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to @contract_item_group, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing contract_item_group</h1>
</div>

<%= render 'form' %>
