<div class="page-header">
  <%= link_to contract_item_groups_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New contract_item_group</h1>
</div>

<%= render 'form' %>
